*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: azure;
}

.todo{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}




