.list__item {
    border: 1px solid gray;
    padding: 5px;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-title {
        font-size: 18px;
        span{
            font-weight: bold;
        }
    }
    &-delete {
    width: 100px;
    font-size: 18px;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.2s ease-in;
    user-select: none;
        &:hover {
            color: darkred;
            border-color: darkred;
            transition: 0.2s ease-out;
            font-weight: bold;
        }
    }
}

